DirectoryIndex index.php
RewriteEngine on
RewriteBase /cd/

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# removing extensions
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Zugriff für Ordner verweigern
Options -Indexes

# Error weiterleiten
ErrorDocument 403 http://localhost/cd
ErrorDocument 404 http://localhost/cd

#php_value session.use_strict_mode=1 // in ini is set to 1