DirectoryIndex index.php
RewriteEngine on
RewriteBase /cd/

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# removing extensions
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Zugriff für Ordner verweigern
Options -Indexes

# Error weiterleiten
ErrorDocument 403 http://localhost/cd
ErrorDocument 404 http://localhost/cd

# rename php session id
#php_value session.name mysession

#
Header set X-Powered-By "smaxxims"

# Aktiviert XSS Präventions-/Filter-Tools
# Optional: mode=block
Header set X-XSS-Protection "1; mode=block"

# Cookies nur über SSL and kein Javascript Zugriff
# Optional: Expires, Max-Age, Path, Domain
Header always edit Set-Cookie (.*) "$1; HttpOnly; Secure"

# Verhindert mime based attacks, nur IE und Chrome
Header set X-Content-Type-Options "nosniff"