.input-upload {
    width: auto;
}

img.cds-image {
    width: 100px;
    height: 100px;
}

table.alignmiddle td {
    vertical-align: middle !important;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

th {
    min-width: 70px;
}

.title-length {
    display: block;
}

.inner-div-title-length1 {
    display: inline-block;
    width: 40%;
}

.inner-div-title-length2 {
    display: inline-block;
    width: 10%;
}

img.cd-image {
    width: 400px;
}

.player-td {
    text-align: end;
}

.logo {
    height: 25px;
}

.delete-one-title {
    color: red;
    cursor: pointer;
}

.titleName {
    width: 70%
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #222;
}

.navbar-nav {
    display: inline-flex;
}

.dropdown-menu > li > a {
    color: #9d9d9d;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #222;
}

.nav > li > a {
    position: relative;
    display: inline;
    padding: 10px 15px;
    float: left;
}

.navbar-right {
    float: right;
    padding-top: 4px;
}

.glyphicon {
    color: #00ccff;
}


@media (max-width: 450px) {
    .phone-admin-table {
        display: none;
    }

    img.imgPreview {
        width: 100%;
    }

    img.cd-image {
        width: 100%;
    }
    .player-td {
        display: none;
    }
    .delete-one-title {
        color: red;
        cursor: pointer;
        float: right;
    }
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: #222;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        left: -81px;
    }
}

@media screen and (max-width: 767px) {
    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: unset;
    }
}