.input-upload {
    width: auto;
}

img.cds-image {
    width: 100px;
    height: 100px;
}

table.alignmiddle td {
    vertical-align: middle !important;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

.title-length {
    display: block;
}

.inner-div-title-length1 {
    display: inline-block;
    width: 40%;
}

.inner-div-title-length2 {
    display: inline-block;
    width: 10%;
}

img.cd-image {
    width: 400px;
}

.player-td {
    text-align: end;
}

.logo {
    height: 25px;
}

.delete-one-title {
    color: red;
    cursor: pointer;
}

.titleName {
    width: 70%
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #222;
}

.navbar-nav {
    display: inline-flex;
}

.dropdown-menu > li > a {
    color: #9d9d9d;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #222;
}

.nav > li > a {
    position: relative;
    display: inline;
    padding: 10px 15px;
    float: left;
}
.navbar-right {
    float: right;
}

@media (min-width: 400px) {

}