<?php session_start() ?>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musik-CD's</title>




    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/cd/public/css/admin_style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>


</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="/cd"><img class="logo" src="../../public/images/home/logo.png"></a></li>
                <li><a href="/cd/views/admin/home">Home</a></li>
                <li><a href="/cd/views/admin/cds">Musik-CD's</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/cd/views/logout">Hi <?php if (isset($_SESSION["user"])) echo $_SESSION["user"]; ?> (ausloggen)</a></li>
                <li><a href="/cd/views/admin/home">Admin Bereich</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">