
<div class="container2">
    <h1>Einloggen</h1>
    <br>
    <!-- error msg -->
    <div class="msb-box"></div>
<!-- login - form -->
<div class="form-group">
        <label>Benutzername</label>
        <input type="text" name="username" class="form-control" placeholder="Benutzername" required>
    </div>
    <div class="form-group">
        <label>Passwort</label>
        <input type="password" name="password" class="form-control" placeholder="Passwort" required>
    </div>
    <br>
    <button name="submit" class="btn btn-success submit-login-btn">Einloggen</button>
</div>
