<nav class="top-nav">
    <ul class="nav-list">

        <li><a class="nav-link home-nav-btn" data-text="Home">Home</a></li>
        <li><a class="nav-link musik-cds-nav-btn" data-text="Musik-CD`s">Musik-CD`s</a></li>
        <li><a class="nav-link" data-text="Shop">Shop</a></li>
        <li><a class="nav-link contact-nav-btn" data-text="Kontakt">Kontakt</a></li>

        <?php session_start();
        if(isset($_SESSION['user']) && $_SESSION['user'] == 'admin')
        :?>
        <li><a href="/cd/views/admin/home" target="_blank" data-text="Admin Bereich" class="nav-link">Admin Bereich</a></li>
        <?php else : ?>
        <li><a class="nav-link login-nav-btn" data-text="Login">Login</a></li>

        <?php endif ?>
    </ul>
</nav>