<h2 class="page-title">CD anlegen</h2>
<a href="/cd/views/admin/cds.php" class="btn btn-primary">Zurück zu allen CD's</a>
<br><br>

<form enctype="multipart/form-data">
    <div class="form-group">
        <label>Interpret</label>
        <input type="text" class="form-control" name="interpret" placeholder="Interpret" required>
    </div>
    <div class="form-group ">
        <label>Beschreibung</label>
        <input type="text" class="form-control" name="desc" placeholder="Beschreibung" required>
    </div>
    <div class="form-group">
        <label>Genre</label>
        <input type="text" class="form-control" name="genre" placeholder="Genre" required>
    </div>
    <div class="form-group">
        <label>Jahr</label>
        <input type="number" class="form-control" name="year" placeholder="Jahr" required>
    </div>
    <div class="form-group">
        <label>Cover</label>
        <input type="file" accept="image/png, image/jpeg" class="form-control btn-info input-upload" name="image"
            id="img">
        <br>
        <img src="#" id="imgPreview" alt="Vorschau-Bild">
    </div>
    <input type="button" class="btn btn-success submit-add-cd" value="CD anlegen">
    <div class="msb-box-data"></div>
</form>
